.grid{
    height: auto !important;
    background-color: transparent !important;
}

@media screen and (max-width: 768px) {
    .haaaaa{
        display: flex !important;
        flex-direction: column !important;  
      }
}