*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @font-face {
    font-family: ExtraLight;
    src: url(./fonts/Montserrat-ExtraLight.ttf);
}
@font-face {
    font-family: Bold;
    src: url(./fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Medium;
    src: url(./fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: Regular;
    src: url(./fonts/Montserrat-Regular.ttf);
}
body{
    background-color: #eef0f3 !important; 
    background-image: none !important;
}
  .sidebar {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      width: 287px;
      background: #fff;
      height: 100%;
      scrollbar-width: none;
      overflow: scroll;
      transition: all 0.3s ease;
      border-right: 1px solid #e8edff;
      padding-top: 50px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adjust values as needed */

    }
.hamburger-menu .btn-dark{
    
background-color: transparent !important;
}
.navbar-toggler-icon {
    color: red; /* Change 'red' to the desired color */
  }
  
    .sidebar .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #fff;
    }

    .sidebar-nav .nav-link {
      color: #fff;
    }
    
  .sidebar  .nav-link {
        padding: 20px 20px !important;
        display: flex;
  align-items: center;
    
        color: #191b23 !important;
        font-weight: 400 !important;
        font-size: 18px !important;
        line-height: 22px !important;
        font-family: Bold !important;
    }
    .vertical-align {
        margin-left: 10px; /* Adjust as needed */
      }
      .sidebar  .active{
        color: #194bfb !important;
    }
    .main-content {
        
      margin-left: 300px; /* Adjust according to sidebar width */
      padding: 20px;
    }
    .sidebar  .logo {
        text-align: center;
        padding: 20px 0;
        display: flex;
        justify-content: center;
      }
      
      .sidebar    .logo img {
        max-width: 100%;
        height: auto;
      }

    
      .in{
  
        border-radius: .375rem;
        border-width: 1px;
        padding: .5rem 1rem;
        font-size: .875rem;
        --tw-border-opacity: 1;
        border-color: rgb(226 232 240 / var(--tw-border-opacity));
    }
    @media (max-width: 768px) {
        .in{
            padding: 0.5rem 0rem;
           
        }
        .main-content #tableee h1{
            margin-top: 80px;
        }
      .sidebar {
        left: -300px;
        transition: left 0.3s ease-in-out;
        z-index: 999;
      
      }

      .sidebar.active {
        left: 0;
      }
   
      .main-content {
        margin-left: 0px ;
     width: 100%;
        transition: margin-left 0.3s ease-in-out;
      }
   
    }