*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @font-face {
    font-family: ExtraLight;
    src: url(./fonts/Montserrat-ExtraLight.ttf);
}
@font-face {
    font-family: Bold;
    src: url(./fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Medium;
    src: url(./fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: Regular;
    src: url(./fonts/Montserrat-Regular.ttf);
}
body{
    background-color: #eef0f3 !important; 
    background-image: none !important;
}
  .sidebar {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      width: 287px;
      background: #fff;
      height: 100%;
      scrollbar-width: none;
      overflow: scroll;
      transition: all 0.3s ease;
      border-right: 1px solid #e8edff;
      padding-top: 50px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adjust values as needed */

    }
.hamburger-menu .btn-dark{
    
background-color: transparent !important;
}
.navbar-toggler-icon {
    color: red; /* Change 'red' to the desired color */
  }
  
    .sidebar .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #fff;
    }

    .sidebar-nav .nav-link {
      color: #fff;
    }
    
  .sidebar  .nav-link {
        padding: 20px 20px !important;
        display: flex;
  align-items: center;
    
        color: #191b23 !important;
        font-weight: 400 !important;
        font-size: 18px !important;
        line-height: 22px !important;
        font-family: Bold !important;
    }
    .vertical-align {
        margin-left: 10px; /* Adjust as needed */
      }
      .sidebar  .active{
        color: #194bfb !important;
    }
    .main-content {
        
      margin-left: 300px; /* Adjust according to sidebar width */
      padding: 20px;
    }
    .sidebar  .logo {
        text-align: center;
        padding: 20px 0;
        display: flex;
        justify-content: center;
      }
      
      .sidebar    .logo img {
        max-width: 100%;
        height: auto;
      }

    .feild-title{
      color: rgba(0, 0, 0, .75);
      font-weight: 700;
      font-size: 16px;
  

    }
    .the{
      font-family: Medium;
      font-size: 12px;
      margin: 8px 0 0;
    }
    .feild-sipTitle{
      font-family: Medium;
      font-size: 12px;
      margin: 8px 0 0;
    }
    .feild-sipTitle span{
      color: rgba(20, 97, 204, 1);
      
    }
    .colors{
      color: rgba(20, 97, 204, 1);
    }
    .the-feild{
      margin-left: auto;
      margin-right: auto;
      padding: 16px;
      background-color: #ffffff;
      width: 974px;
      border-radius: 10px;
    }
    .The-input{
      height: 45px !important;
      /* border-radius: 1px solid #acbdd1 !important;
      border-color: 15px !important; */
    }
    [type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
      appearance: none;
      background-color: #fff;
      border-color: #acbdd1 !important;
      border-width: 1px;
      border-radius: 6px !important;
      padding-top: 0.5rem;
      padding-right: 0.75rem;
      padding-bottom: 0.5rem;
      padding-left: 0.75rem;
      font-size: 1rem;
      line-height: 1.5rem;
      --tw-shadow: 0 0 #0000;
  }
    .fade-out {
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
      background-color: #e9f4fd;
      width: 100%;
      height: 45px;
      padding: 10px;
      font-family: Medium;
      font-weight: 600;
      border-radius: 6px !important;
    }
    
    .fade-out.hidden {
      opacity: 0;
    }
    .fade-out-text {
      opacity: 1;
      color: rgba(0, 0, 0, .75);

      transition: opacity 0.9s ease-out;
    }
    
    .fade-out-text.fade-out {
      opacity: 0;
      transition-delay: 1s; /* Delay the start of the transition */
    }
    
    
    
    .the-feild button, [type='button'], [type='reset'], [type='submit']:hover {
      background-color: transparent !important;
      background-image: none !important;

    }
    .Third-feild #pixel{
      background-color: #e5e5e5 !important;
      color: #000000D9 !important;
      width: 100%;
      font-family: Medium;
      font-size: 13px;
    }
    @media (max-width: 768px) {
      .the-feild{
        margin-top: 70px;
        width: 100%;
      }
        .in{
            padding: 0.5rem 0rem;
           
        }
        .main-content #tableee h1{
            margin-top: 80px;
        }
      .sidebar {
        left: -300px;
        transition: left 0.3s ease-in-out;
        z-index: 999;
      
      }

      .sidebar.active {
        left: 0;
      }
   
      .main-content {
        margin-left: 0px ;
     width: 100%;
        transition: margin-left 0.3s ease-in-out;
      }
   
    }