:root { 
--gray_400:#c7c7c7; 
--blue_gray_100:#cccccc; 
--indigo_50:#e3e8ee; 
--blue_gray_100_01:#d5dee3; 
--gray_200:#e7e7e7; 
--gray_300:#e6e6e6; 
--light_blue_900:#1b6381; 
--gray_300_01:#d6dee3; 
--light_blue_900_7f:#1b63817f; 
--black_900_99:#00000099; 
--black_900:#000000; 
--gray_400_01:#b3b3b3; 
--deep_orange_300:#ea8357; 
--white_A700:#ffffff; 
}