*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 7px !important;
    height: 4px;
    background: transparent;
 
}
::-webkit-scrollbar-thumb {
    background: rgb(234, 131, 87) !important;; 
    border-radius: 100px !important;
}
body{
    /* background-color: #E3E8EE !important; */
    background-image: url(./images/Group\ 20.jpg);
    background-size: cover;
   background-position: center ;

}
@font-face{
    font-family: SemiBold;
    src: url(./fonts/Montserrat-SemiBold.ttf);
}
@font-face{
    font-family: Mediumn;
    src: url(./fonts/Montserrat-Medium.ttf);
}
@font-face{
    font-family: Boldd;
    src: url(./fonts/Montserrat-Bold.ttf);
}
@font-face{
    font-family: ExtraLight;
    src: url(./fonts/Montserrat-ExtraLight.ttf);
}
@font-face{
    font-family: Lightt;
    src: url(./fonts/Montserrat-Light.ttf);
}
@font-face{
    font-family: Regular;
    src: url(./fonts/Montserrat-Regular.ttf);
}
.nav-link {
color: #000000 !important;
font-family: SemiBold;
font-size: 13px !important;
}
.nav-link:hover{
    color: #1B6381 !important;
    transition: 0.5s !important;
    border-bottom: 2px solid #EA8357 !important;
}
.login:hover{
    background-color: #1B6381 !important;
    color: #FFFFFF !important;
    
}
.login{
    position: relative;
    right: 100px;
    font-family:Mediumn !important ;


}
.navbar-brand{
    position: relative ;
    left: 100px ;
}
.navv{
    background-color: #E3E8EE !important;
}

.Landing{
    background-color: #E3E8EE !important;
}
.landing-title{
    margin-top: 200px;
    margin-bottom: 32px;
    color: #1B6381;
    font-size: 65px;
    font-family: Boldd;
    white-space: nowrap;
}
.Landing p{
    color: #000000;
    font-size: 27px;
    font-family: ExtraLight;
}
.landingBtn-f{
    margin-top: 32px;
    font-size: 22px !important;
    font-family: Mediumn !important;
    
}
.landingBtn-f:hover{
background-color: #EA8357 !important;
color: #E3E8EE !important;
    
}
.landingBtn-s{
    margin-top: 32px;
    font-size: 22px !important;
    font-family: SemiBold !important;
    transition: 0.5s !important;
}
.landingBtn-s:hover{
    background-color: transparent !important;
    color: #000000 !important;
    transition: 0.5s !important;
}
.video{
    background-color: #d6dde4;
    height: 1100px;
   
}
.video h1{ 
color: #EA8357 !important;
font-size: 40px !important;
font-family: Lightt !important;
text-align: center;
margin-top: 80px;
}
.clients{
    background-color: #d6dde4 !important;
    /* margin-top: 100px; */
    height: 375px;
}
.clients h1{
    font-size: 32px !important;
    font-family: Regular !important;
    text-align: center;
    color: #1B6381;
    margin-top: 60px;
}
.TESTEMONIALS{
    background-image: url(./images/cl_back.png);
    background-size: contain;
    background-repeat: repeat;
    height: 721px;
 
}
.textH{
    color: #EA8357;
    font-size: 32px;
    font-family: Regular;
    text-align: center;
    margin-top: 80px !important;
    margin-bottom: 80px;
}
.TESTEMONIALS .card-title{
    color: #000000 !important;
    font-size: 24px;
    text-align: center;
    font-family: Mediumn !important;
    margin-top: 13px !important;
    margin-bottom: 13px !important;
}
.TESTEMONIALS .card{
background-color: #D6DEE2 !important;
width: 272px !important;
height: 200px !important;
border: 1px solid #EA8357 !important;
border-radius: 15px !important;
}
.TESTEMONIALS .card-text{
    color: #000000 !important;
    font-size: 15px;
    text-align: center;
    font-family: Mediumn !important;
    margin-top: 13px !important;
}
footer{
     /* background-color: #1B6381; */
     height: 382px;
    background-image: url(./images/Group\ 19.jpg);
     background-size: cover;
    background-position: center ;
    width: 100%;
}
footer h1{
    margin-top: 80px;
    color: #FFFFFF;
    font-size: 30px !important;
    font-family: SemiBold !important;
    text-align: center;
}
footer p{
margin-top: 10px !important;
    color: #FFFFFF;
    font-size: 20px !important;
    font-family: Regular !important;
    text-align: center;
}
.FooterBtn{
    font-size: 20px !important;
    font-family: SemiBold !important;
    margin-top: 30px !important;
}
footer span{
   color: #FFFFFF;
    font-size: 20px;
    font-family: Regular !important;
    text-align: center !important;
    margin-top: 70px;
}
.grid{
    background-color: #E3E8EE;
    height: 1248px;
}
.gird-sup{
    margin-top: 200px;
    color: #1B6381 !important;
    font-size: 28px;
    font-family: Mediumn !important;
    margin-bottom: 10px;
}
.grip-title{
    color: #000000 !important;
    font-size: 55px;
    margin-bottom: 10px;

    font-family: SemiBold !important;
}
.grid-last{
    color: #000000 !important;
    font-size: 21px;
    font-family: Regular !important;
  
}
.grid-card{
    margin-top: 100px;
    width: 694px;
    height: 454px;
    background-color: #191919;
    border-radius: 30px ;
    display: flex;
   
}
.grid-card h1{
    color: #E3E8EE !important;
    font-size: 29px;
    font-family: SemiBold !important;
    white-space: nowrap;
 
}
.grid-card p{
    color: #E3E8EE !important;
    font-size: 15px;
    font-family: Regular !important;
    white-space: nowrap;
}
.gridSecond-card{
    width: 290px;
    height: 476px;
    background-color: #EA8357;
    border-radius: 20px;
    position: relative !important;
}
.gridSecond-card h1{
   margin-bottom: 10px;
    color: #E3E8EE !important;
    font-size: 25px;
    font-family: SemiBold !important;
    text-align: center !important;
}
.gridSecond-card p{
    color: #E3E8EE !important;
    font-size: 14px;
    font-family: Regular !important;
    text-align: center !important;
}
.gridThird-card{
    width: 562px;
    height: 476px;
    background-color: #191919;
    border-radius: 20px;
    position: relative !important;
}
.gridThird-card h1{
   
    color: #E3E8EE !important;
    font-size: 25px;
    font-family: SemiBold !important;
    text-align: center !important;
}
.gridThird-card p{
    color: #E3E8EE !important;
    font-size: 14px;
    font-family: Regular !important;
    text-align: center !important;
}
.gridFourth-card{
    width: 290px;
    height: 476px;
    background-color: #191919;
    border-radius: 20px;
    position: relative !important;
}
.gridFourth-card h1{
    color: #E3E8EE !important;
    font-size: 25px;
    font-family: SemiBold !important;
    text-align: center !important;
}
.gridFourth-card p{
    color: #E3E8EE !important;
    font-size: 14px;
    font-family: Regular !important;
    text-align: center !important;
}
/* .Cardd{
    width: 320px !important;
    height: 540px !important;
    padding: 50px 40px;
    border-radius: 20px;
    position: relative;
 
    background-color: #ffffff;
}
.Cardd h1{
    margin-bottom: 20px;
    font-size: 34px;
    line-height: 44px;
    font-family: SemiBold !important;
}

.Cardd span{
 
    font-family: Regular !important;
    color: #606060;
}
.Cardd ul li{
    margin-bottom: 15px;
} */
@media screen and (max-width: 768px) {
    .login,
    .navbar-brand {
        position: relative !important;
        right: 1000vh !important;
     
    }
    .nav-link {
    margin-left: 20px !important;
        }
        .landing-title{
            font-size: 34px;
            margin-top: 50px !important;
            margin-bottom: 10px !important;
        }
        .Landing p{
            font-size: 15px;
           
        }
        .clients img{
            margin: 0 !important;
        }
        .video{
            height: 500px !important;
        }
        .clients{
            height: 240px;
            position: relative;
    margin-top: 50px;
        }
        .card{
            margin-top: 30px !important;
            margin-left: auto;
            margin-right: auto;
          
        }
        .TESTEMONIALS{
            height: auto !important;
        }
        .last{
            margin-bottom: 80px;
        }
        footer{
          
            height: auto;
        }
        .grid-card{

            display: flex;
            flex-direction: column !important;
            width: 100%;
            margin: 30px 0 0 0  !important;
        }
        .grid-card img{
            width: 80% !important;
            left: 40px;
            margin-top: 23px !important;
        }
      .remove{
        margin: 0 !important;
        text-align: center;
      }
      .gridSecond-card{
        position: relative !important;
        margin-left: auto;
        margin-right: auto;
      }
      .grid{
        height: auto;
      }
      .gridThird-card{
        margin-top: 50px;
        width: 100% !important;
      }
      .gridFourth-card{
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom:30px;
      }
      .change{
        display: flex !important;
        flex-direction: column-reverse !important;
      }
      .Price-title {
        font-size: 25px !important;
        line-height: 37px !important;
      
    }
.plan{
    margin-top: 50px !important;
}
}







/* Pricing tables styles */
.pricing-tables {
    padding: 20px;
  }
  .pricing-tables h1 {
    font-size: 46px;
  }
  .plan {
    transition: transform 0.3s ease;
    transition: 0.6s;
    box-shadow: 0 2px 2px var(--color-cod-gray-6-approx);
    min-height: 100px;
    background: var(--white);
    border-radius: 20px !important;
    margin: 20px 0;
    padding-bottom: 25px;
    text-align: center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); /* Adjust values as needed */

  }
  .plan:hover {
    transform: translateY(-20px); /* Adjust the value as needed */
}
  .plan .head {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 12px 16px;
    
    color: var(--themeht-text-color);
  }
  .plan .head h1,
  .plan .head h2,
  .plan .head h3 {
    @extend .extend_1;
  }
  .plan .price {
    border-top: 1px solid var(--color-gallery-approx);
    margin: 0 auto 30px auto;
    width: 80%;
  }
  .plan .price h3 {
    font-size: 82px;
    vertical-align: top;
    line-height: 1;
  }
  .plan .price h3 span {
    font-size: 38px;
    vertical-align: top;
    position: relative;
    margin: 6px 0 0 -7px;
    display: inline-block;
  }
  .plan .price h4 {
    color: var(--color-silver-chalice-approx);
    font-size: 14px;
  }
  .plan .btn {
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .plan ul {
    list-style-type: none;
    padding: 20px;
    margin-top: 2px;
  }
  .plan ul li {
    line-height: 22px;
    margin-bottom: 15px;
    font-size: 14px;

    font-weight: 400;
  }
  .plan ul li a {
    text-decoration: underline;
    color: var(--color-mystic-approx);
  }
  .plan ul li:last-child {
    border-bottom: none;
  }
  .plan ul strong {
    font-weight: 700;
  }
  .plan.recommended {
    margin-top: 6px;
    box-shadow: 0 0 22px var(--color-cod-gray-42-approx);
    position: relative;
    z-index: 99;
    border-radius: 4px;
  }
  .plan.recommended .head {
    background: var(--color-hunter-green-approx);
  }
  .plan.recommended .btn {
    margin-bottom: 10px;
  }
  
  /* Attached styles */
  .pricing-tables.attached .col-sm-4,
  .pricing-tables.attached .col-md-4,
  .pricing-tables.attached .col-sm-3,
  .pricing-tables.attached .col-md-3 {
    padding-left: 0;
    padding-right: 0;
  }
  .plan.attached {
    border-radius: 0;
  }
  .plan.attached .head {
    border-radius: 0;
  }
  .plan.attached.recommended {
    border-radius: 4px;
  }
  .plan.attached.recommended .head {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .plan.attached.last .head {
    border-top-right-radius: 4px;
  }
  .plan.attached.first .head {
    border-top-left-radius: 4px;
  }
  :root {
    --color-gray-nurse-approx: #eaeaea;
    --color-mako-approx: #434a54;
    --color-cod-gray-6-approx: rgba(10, 10, 10, 0.06);
    --white: #fff;
    --color-rangoon-green-approx: #1c1c1c;
    --color-gallery-approx: #eee;
    --color-silver-chalice-approx: #aaa;
    --color-mystic-approx: #e6e9ed;
    --color-cod-gray-42-approx: rgba(10, 10, 10, 0.42);
    --color-hunter-green-approx: #171717;
  }
  .package{
    background-color: #ffffff;
    padding: 100px 0 100px 0;
    height: 100%;
  }
  .Price-title{
    font-size: 46px ;
    line-height: 50px;
   
    font-family: Boldd;
  }
  .mid-card{
    background: linear-gradient(115deg, var(--themeht-primary-color), var(--themeht-secondary-color));
    transform: scale(1.1); 
  }
  .mid-card .price{
    background-color: transparent;
  }
  .mid-card .item-list{
    color: white !important;
    
  }
  .mid-card .head{
color:#ffffff ;
background-color: transparent !important;
  }
  .head{
    font-family: Boldd !important;
    font-size: 34px;
    line-height: 44px;
    font-weight: 500;
  
  }
.mid-card .price{
    color:#ffffff ;
   
}
.item-list{
    font-family: Regular !important;
    font-size: 17px;
}
.price{
    font-size: 50px;
    line-height: 50px;
    font-weight: 600;
 

}
.mid-card .btn-success{
    background: var(--themeht-bg-dark-color) !important;
  
    
}
.btn-success{
    transform: perspective(1px) translateZ(0) !important;
    background: linear-gradient(115deg, var(--themeht-primary-color), var(--themeht-secondary-color)) !important;
    color: var(--themeht-white-color);
    overflow: hidden;
  width: 174px    !important;
  height: 51px !important;
   
    display: inline-block;
    border-radius: 100px !important;
    border: none !important;
    color: var(--themeht-white-color);
    font-family: var(--themeht-secondary-font-family) !important;
    font-weight: 500 !important;
}

.mid-card .plan ul li{
    color: #ffffff !important;
}
.Price-text{
    line-height: 1;
    padding: 0 15px;
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    background: linear-gradient(115deg, var(--themeht-primary-color), var(--themeht-secondary-color));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}