.nav-link {
    color: #000000 !important;
    font-family: SemiBold;
    font-size: 13px !important;
    }
    /* .nav-link:hover{
        color: #1B6381 !important;
        transition: 0.5s !important;
        border-bottom: 2px solid #EA8357 !important;
    }
    .login:hover{
        background-color: #1B6381 !important;
        color: #FFFFFF !important;
        
    } */